@model IEnumerable<FPTJob.Models.JobCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategoryName)
            </td>
            @if(item.IsApproved == false)
            {
                    <td>
                        Pending
                    </td>
            }else if(item.IsApproved == true)
            {
                    <td>
                        Approved
                    </td>
            }       
            @if (User.IsInRole("Admin") == true)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.JobCategoryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.JobCategoryId">Details</a> |
                        @if (!item.IsApproved)
                        {
                            <form asp-action="ApproveJobCategory" method="post">
                                <input type="hidden" name="jobCategoryId" value="@item.JobCategoryId" />
                                <button type="submit" class="btn btn-success">Approve</button>
                            </form>
                            <form asp-action="RejectJobCategory" method="post">
                                <input type="hidden" name="jobCategoryId" value="@item.JobCategoryId" />
                                <button type="submit" class="btn btn-danger">Reject</button>
                            </form>
                        }
                        else
                        {
                            <a asp-action="Delete" asp-route-id="@item.JobCategoryId">Delete</a>
                        }
                    </td>
                }
        </tr>
}
    </tbody>
</table>
